<div class="container">

    <h1>Agreements' List</h1>
    <hr>
    {{#each agreements}}
    <p>- {{typeOfAgreement}} Document. Ref.({{id}})</p>

            <a href="/personal/legal/vehicle-agreement/preview/{{id}}" class='btn btn-info btn-sm'>Preview</a>
            <a href="/personal/legal/vehicle-agreement/delete?agreement_ID={{id}}" class="btn btn-info btn-sm">Delete</a>
            <a href="/personal/legal/vehicle-agreement/edit?agreement_ID={{id}}" class="btn btn-info btn-sm">Edit</a>
   
    {{/each}}
</div>