<div class="container">

    <h1>Agreements' List</h1>
    <hr>
    {{#each agreements}}
    <p>- {{typeOfAgreement}} Document. Ref.({{id}})</p>
    <a href="/personal/legal/vehicle-agreement/preview/{{id}}">Preview</a>
    <a href="/personal/legal/vehicle-agreement/delete?agreement_ID={{id}}" class="btn btn-info">Delete</a>
    <a href="/personal/legal/vehicle-agreement/edit?agreement_ID={{id}}" class="btn btn-info">Edit</a>
    <a href="/personal/legal/vehicle-agreement/preview/print/{{id}}" class="btn btn-info">Print</a>
    {{/each}}
</div>