<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <form action="/personal/legal/vehicle-agreement/create" method="POST">


                <h4>Edit your Vehicle Agreement Input</h4>
                <hr>
                <p>

                    <button class="btn btn-light" type="button" data-toggle="collapse"
                        data-target="#multiCollapseExample1" aria-expanded="false"
                        aria-controls="multiCollapseExample1">
                        <h4>Car Details</h4>
                    </button>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="form-group">
                                <label for="purchasePrice">Set a transaction price in USD</label>
                                <input type="text" class="form-control" name="purchasePrice" id="purchasePrice"
                                    value='{{purchasePrice}}'>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="form-group">
                                <label for="year">When was the vehicle bougth?</label>
                                <input type="count" class="form-control" name="year" id="year"
                                    value='{{vehicleInfo.year}}'>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="form-group">
                                <label for="model">Especify the model of your car</label>
                                <input type="text" class="form-control" name="model" id="model"
                                    value='{{vehicleInfo.model}}'>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="form-group">
                                <label for="plate">Car Plate</label>
                                <input type="text" class="form-control" name="plate" id="plate"
                                    value='{{vehicleInfo.plate}}'>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="form-group">
                                <label for="status">Which is the car status?</label>
                                <select name="status" id="status" class="form-control">
                                    <option value='new'>It is new branded</option>
                                    <option value='used'>Second Hand</option>
                                    <option value='broken'>It needs mainteinance</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="form-group">
                                <label for="conditions">Do you want to add special conditions to the agreement?</label>
                                <textarea class="form-control" name="conditions" id="conditions"
                                    placeholder='{{vehicleInfo.conditions}}'></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <p>

                    <button class="btn btn-light" type="button" data-toggle="collapse"
                        data-target="#multiCollapseExample2" aria-expanded="false"
                        aria-controls="multiCollapseExample2">
                        <h4>Subject Details</h4>
                    </button>
                </p>

                <div class="row">
                    <div class="col-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" name="name" id="name" value='{{subject.name}}'>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    value='{{subject.lastName}}'>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="form-group">
                                <label for="personalId">Personal ID:</label>
                                <input type="text" class="form-control" name="personalId" id="personalId"
                                    value='{{subject.personalId}}'>
                            </div>
                        </div>
                    </div>

                </div>

                <p>

                    <button class="btn btn-light" type="button" data-toggle="collapse"
                        data-target="#multiCollapseExample3" aria-expanded="false"
                        aria-controls="multiCollapseExample3">
                        <h4>Address</h4>
                    </button>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="form-group">
                                <label for="street">Street</label>
                                <input type="text" class="form-control" name="street" id="street"
                                    value='{{subject.address.street}}'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="form-group">
                                <label for="buildingNumber">Building Number</label>
                                <input type="text" class="form-control" name="buildingNumber" id="buildingNumber"
                                    value='{{subject.address.buildingNumber}}'>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="form-group">
                                <label for="zipCode">Zip Code</label>
                                <input type="text" class="form-control" name="zipCode" id="zipCode"
                                    value='{{subject.address.zipCode}}'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" name="city" id="city"
                                    value='{{subject.address.city}}'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" name="country" id="country"
                                    value='{{subject.address.country}}'>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample4"
                    aria-expanded="false" aria-controls="multiCollapseExample4">
                    <h4>Set Agreement Dates</h4>
                </button>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample4">
                            <div class="form-group">
                                <label for="agreementDate">Especify agreement date</label>
                                <input type="date" class="form-control" name="agreementDate" id="agreementDate">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample5"
                    aria-expanded="false" aria-controls="multiCollapseExample5">
                    <h4 class="text-left"> What kind of agreement do you want to generate? </h4>
                </button>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample5">
                            <div class="form-group">
                                <label for="typeOfAgreement"></label>
                                <select name="typeOfAgreement" id="typeOfAgreement" class="form-control">
                                    <option value='selling'>I want to sell my vehicle!</option>
                                    <option value='buying'>I'm more likely to buy a vehicle!</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-info btn-block btn-lg">Add agreement data</button>

            </form>

        </div>

    </div>

</div>