<div id='print'>
    <div class="container">

        <div class="row justify-content-center">

            <h1>Invoice</h1>
            <h5>From:</h5>
            <p>{{user.company.name}}</p>
            <p>{{user.company.email}}</p>
            <p>{{user.company.address.street}},{{user.company.address.buildingNumber}},{{user.company.address.zipCode}},{{user.company.address.city}},{{user.company.address.country}}
            </p>
            <p>{{user.company.phone}}</p>
            <p>{{user.company.companyId}}</p>
            <h5>To:</h5>
            <p>{{client.name}} {{client.lastName}}</p>
            <p>{{client.email}}</p>
            <p>{{client.address.street}},{{client.address.buildingNumber}},{{client.address.zipCode}},{{client.address.city}},{{client.address.country}}
            </p>
            <p>{{client.phone}}</p>
            <p>{{date.paymentDate}}</p>
            <h3>DESCRIPTION</h3>
            <h3>RATE</h3>
            <h3>QUANTITY</h3>
            <h3>AMMOUNT</h3>

            <p>{{products.ProductName}}</p>
            <p id='price'>{{products.[0].price}}</p>
            <p id='quantity'>{{products.[0].quantity}}</p>
            <p id='VAT'>{{products.[0].VAT}}</p>

            <p>RESULTADO AMMOUNT</p>

            <p>Subtotal</p>
            <p id='subtotal'></p>
            <p>VAT</p>
            <p id='finalVAT'></p>
            <p>Total</p>
            <p id="totalProduct"></p>

        </div>

    </div>
</div>

<script src="/js/logic.js"></script>