<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit your Vehicle Selling Agreement Input</h1>

            <hr>

            <form action="/personal-services/legal/vehicle-agreement-selling/edit?agreement_ID={{id}}" method="POST">

                <h4>Agreement Details</h4>
                <div class="form-group">
                    <label for="purchasePrice">Set a selling price</label>
                    <input type="text" class="form-control" name="purchasePrice" id="purchasePrice"
                        value='{{purchasePrice}}'>
                </div>
                <h4>Car Details</h4>
                <div class="form-group">
                    <label for="year">When did you buy the vehicle?</label>
                    <input type="count" class="form-control" name="year" id="year" value='{{vehicleInfo.year}}'>
                </div>
                <div class="form-group">
                    <label for="model">Especify the model of your car</label>
                    <input type="text" class="form-control" name="model" id="model" value='{{vehicleInfo.model}}'>
                </div>
                <div class="form-group">
                    <label for="plate">Car Plate</label>
                    <input type="text" class="form-control" name="plate" id="plate" value='{{vehicleInfo.plate}}'>
                </div>

                <div class="form-group">
                    <label for="status">Which is the car status?</label>
                    <select name="status" id="status">
                        <option value='new'>It is new branded</option>
                        <option value='used'>Second Hand</option>
                        <option value='broken'>It needs mainteinance</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conditions">Do you want to add special conditions to the agreement?</label>
                    <textarea class="form-control" name="conditions" id="conditions"
                        placeholder='{{vehicleInfo.conditions}}'></textarea>
                </div>
                <h4>Buyer Details</h4>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" id="name" value='{{subject.name}}'>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" value='{{subject.lastName}}'>
                </div>

                <div class="form-group">
                    <label for="personalId">Personal ID:</label>
                    <input type="text" class="form-control" name="personalId" id="personalId"
                        value='{{subject.personalId}}'>
                </div>

                <h5>Address</h5>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" name="street" id="street"
                        value='{{subject.address.street}}'>
                </div>
                <div class="form-group">
                    <label for="buildingNumber">Building Name</label>
                    <input type="text" class="form-control" name="buildingNumber" id="buildingNumber"
                        value='{{subject.address.buildingNumber}}'>
                </div>
                <div class="form-group">
                    <label for="zipCode">Zip Code</label>
                    <input type="text" class="form-control" name="zipCode" id="zipCode"
                        value='{{subject.address.zipCode}}'>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id="city" value='{{subject.address.city}}'>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" name="country" id="country"
                        value='{{subject.address.country}}'>
                </div>
                <h4>Set Agreement Dates</h4>
                <div class="form-group">
                    <label for="agreementDate">Especify agreement date</label>
                    <input type="date" class="form-control" name="agreementDate" id="agreementDate">
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Edit agreement data</button>

            </form>
        </div>

    </div>

</div>