<div class="container">

    <h1>{{typeOfTransaction}} Agreements' List</h1>
    <hr>

    {{#each agreements}}
    <p>- Document Ref.({{id}})</p>

    <a href="/personal/legal/vehicle-agreement/preview/{{id}}">Preview</a>
    <a href="/personal/legal/vehicle-agreement/delete?agreement_ID={{id}}" class="btn btn-dark">Delete</a>
    <a href="/personal/legal/vehicle-agreement/edit?agreement_ID={{id}}" class="btn btn-dark">Edit</a>
</div>

{{/each}}